.logo{
    margin-left: 80px;
}

.bg-orange{
    background-color: #F0592E !important;
}

body {
    font-family: 'Kanit', sans-serif;
    font-weight: bold; /* Corrected from font-style to font-weight */
}