body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    width: 100%;
    margin: 0 auto;
}

.product-list {
    width: 100%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
}

.product-table-container {
    flex-grow: 1;
    overflow: auto;
    overflow-y: auto;
    max-height: 600px;
    /* กำหนดความสูงคงที่ให้กับตาราง */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th {
    padding: 10px;
    border-bottom: 2px solid #ddd;
    text-align: center;
}

td {
    padding: 10px;
    border-bottom: 2px solid #ddd;
    text-align: left;
}

th {
    background-color: #f9f9f9;
}

thead th {
    /* Target table header cells directly */
    position: sticky;
    top: 0;
    /* Stick to the top */
    background-color: #f9f9f9;
    /* Keep the background color */
    z-index: 1;
    /* Ensure it's above the table body when scrolling */
}

::-webkit-scrollbar {
    width: 9px;
    /* Adjust width for vertical scrollbar */
}

::-webkit-scrollbar-thumb {
    background-color: #FF5722;
    /* Color for scrollbar thumb */
    border-radius: 10px;
    /* Rounded corners for scrollbar thumb */
}

.home-section {
    max-height: 100vh;
    /* Adjust height as needed */
    overflow-y: auto;
    /* Allow vertical scroll */
    overflow-x: hidden;
    /* Prevent horizontal scroll */
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination a {
    margin: 0 5px;
    padding: 8px 12px;
    border: 1px solid #ddd;
    text-decoration: none;
    color: #333;
}

.pagination a.active {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}